.demo-btn {
  background-color: #382f5a;
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  padding-top: 8px;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 8px;
  margin-top: 14px;
  outline: none;
  cursor: pointer;
  border: 1px solid #d4d2db;
}
